body {
    background-color: rgb(180, 180, 180) !important;
}

.container {
    background-color: rgb(180, 180, 180) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-anwser {
    height: 40px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.quiz-anwser:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.quiz-card {
    width: 30rem;
}

.question-futter {
    border-top: 3px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.question-right {
    background-image: url("icon/checked.ico");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.question-wrong {
    background-image: url("icon/error.ico");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.restartBTN {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}