body {
    background-color: rgb(180, 180, 180) !important;
}

.container {
    background-color: rgb(180, 180, 180) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}