body {
    background-image: url("img/quiz-bg.jpg");
    background-size: 100%;
}

.navbar-brand {
    color: white !important;
    font-size: 42px;
    margin-left: 30px;
}

.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img{
    height: 45vh;
    object-fit: cover;
}

.quiz-end-sign {
    font-size: x-large;
    text-align: center !important;
}

.question-end-sign{
    text-align: center;
}

.quiz-anwser {
    height: 40px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.quiz-anwser:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.quiz-card {
    width: 30rem;
}

.question-futter {
    border-top: 3px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.question-right {
    background-image: url("icon/checked.ico");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.question-wrong {
    background-image: url("icon/error.ico");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.restartBTN {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-dark:hover{
    cursor: pointer;
    background-color: rgb(85, 85, 85) !important;
}

@media(max-width: 1000px){
    body {
        background-image: unset;
    }

    .navbar{
        display: none;
    }

    .container {
        max-height: 100%;
        max-width: 100%;
        padding: unset;
        margin: unset;
    }
}